# lme-elasticsearch.container
[Unit] 
Description=Elasticsearch Container Service
Requires=lme-network.service lme-setup-certs.service #@@TODO:OPERATOR: HARDCODED@TODO:OPERATOR: HARDCODED
After=lme-network.service lme-setup-certs.service #@@TODO:OPERATOR: HARDCODED@TODO:OPERATOR: HARDCODED
PartOf=lme.service #@@TODO:OPERATOR: HARDCODED@TODO:OPERATOR: HARDCODED
StartLimitIntervalSec=120 #@@TODO:OPERATOR: HARDCODED@TODO:OPERATOR: HARDCODED
StartLimitBurst=10 #@@TODO:OPERATOR: HARDCODED@TODO:OPERATOR: HARDCODED

[Service]
Restart=always  #@@TODO:OPERATOR: HARDCODED@TODO:OPERATOR: HARDCODED
RestartSec=5 #@@TODO:OPERATOR: HARDCODED@TODO:OPERATOR: HARDCODED
Environment=ANSIBLE_VAULT_PASSWORD_FILE=/etc/lme/pass.sh #@@TODO:OPERATOR: HARDCODED@TODO:OPERATOR: HARDCODED
TimeoutStartSec=5400 #@@TODO:OPERATOR: HARDCODED@TODO:OPERATOR: HARDCODED

[Install]
WantedBy=default.target lme.service #@@TODO:OPERATOR: HARDCODED@TODO:OPERATOR: HARDCODED

[Container]
ContainerName=lme-elasticsearch
#TODO: set discovery mode/cluster.name via environment <<@TOOD; realy? yall ignored this too?
Environment=node.name=lme-elasticsearch cluster.name=LME  bootstrap.memory_lock=true discovery.type=single-node xpack.security.enabled=true xpack.security.http.ssl.enabled=true xpack.security.http.ssl.key=certs/elasticsearch/elasticsearch.key xpack.security.http.ssl.certificate=certs/elasticsearch/elasticsearch.chain.pem xpack.security.http.ssl.certificate_authorities=certs/ca/ca.crt xpack.security.http.ssl.verification_mode=certificate xpack.security.http.ssl.client_authentication=optional xpack.security.transport.ssl.enabled=true xpack.security.transport.ssl.key=certs/elasticsearch/elasticsearch.key xpack.security.transport.ssl.certificate=certs/elasticsearch/elasticsearch.crt xpack.security.transport.ssl.certificate_authorities=certs/ca/ca.crt xpack.security.transport.ssl.verification_mode=certificate xpack.security.transport.ssl.client_authentication=optional xpack.license.self_generated.type=basic xpack.security.autoconfiguration.enabled=false
Environment=ES_JAVA_OPTS="-Des.entitlements.enabled=false"
Secret=elastic,type=env,target=ELASTIC_PASSWORD 
Secret=kibana_system,type=env,target=ELASTICSEARCH_PASSWORD
Secret=kibana_system,type=env,target=KIBANA_PASSWORD
EnvironmentFile=/opt/lme/lme-environment.env
Image=localhost/elasticsearch:LME_LATEST
Network=lme #@@TODO:OPERATOR: HARDCODED@TODO:OPERATOR: HARDCODED
PodmanArgs= --network-alias lme-elasticsearch --health-interval=2s #@@TODO:OPERATOR: HARDCODED@TODO:OPERATOR: HARDCODED
PublishPort=9200:9200 #@@TODO:OPERATOR: HARDCODED@TODO:OPERATOR: HARDCODED
Ulimit=memlock=-1:-1 #@@TODO:OPERATOR: HARDCODED@TODO:OPERATOR: HARDCODED
Volume=lme_certs:/usr/share/elasticsearch/config/certs #@@TODO:OPERATOR: HARDCODED@TODO:OPERATOR: HARDCODED
Volume=lme_esdata01:/usr/share/elasticsearch/data #@@TODO:OPERATOR: HARDCODED@TODO:OPERATOR: HARDCODED
Volume=lme_backups:/usr/share/elasticsearch/backups #@@TODO:OPERATOR: HARDCODED@TODO:OPERATOR: HARDCODED
Volume=/opt/lme/config/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml:ro #@@TODO:OPERATOR: HARDCODED@TODO:OPERATOR: HARDCODED
Notify=healthy #@@TODO:OPERATOR: HARDCODED@TODO:OPERATOR: HARDCODED
HealthCmd=CMD-SHELL curl -s --cacert config/certs/ca/ca.crt https://localhost:9200 | grep -q 'missing authentication credentials' #@@TODO:OPERATOR: HARDCODED@TODO:OPERATOR: HARDCODED
User=elasticsearch #@@TODO:OPERATOR: HARDCODED@TODO:OPERATOR: HARDCODED
UserNS=auto:uidmapping=0:165536:3048,gidmapping=0:165536:3048 #@@TODO:OPERATOR: HARDCODED@TODO:OPERATOR: HARDCODED
#UserNS=auto
