# lme-heartbeat.container
[Unit]
Description=Elastic Heartbeat Container Service
Requires=lme-elasticsearch.service lme-setup-certs.service
After=lme-elasticsearch.service lme-setup-certs.service lme-kibana.service
PartOf=lme.service
StartLimitIntervalSec=120
StartLimitBurst=10

[Install]
WantedBy=default.target lme.service

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=300
Environment=ANSIBLE_VAULT_PASSWORD_FILE=/etc/lme/pass.sh

[Container]
ContainerName=lme-heartbeat
Image=localhost/heartbeat:LME_LATEST
Network=lme
PodmanArgs=--network-alias lme-heartbeat --cap-add=NET_RAW
Volume=lme_certs:/certs:ro
Volume=/opt/lme/config/heartbeat.yml:/usr/share/heartbeat/heartbeat.yml:ro
Secret=elastic,type=env,target=ELASTICSEARCH_PASSWORD
