# lme-apm-server.container
[Unit]
Description=Elastic APM Server Container Service
Requires=lme-elasticsearch.service lme-setup-certs.service
After=lme-elasticsearch.service lme-setup-certs.service
PartOf=lme.service
StartLimitIntervalSec=120
StartLimitBurst=10

[Install]
WantedBy=default.target lme.service

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=300
Environment=ANSIBLE_VAULT_PASSWORD_FILE=/etc/lme/pass.sh

[Container]
ContainerName=lme-apm-server
Image=localhost/apm-server:LME_LATEST
Network=lme
PodmanArgs=--network-alias lme-apm-server
PublishPort=8200:8200
Volume=lme_certs:/certs:ro
Volume=/opt/lme/config/apm-server.yml:/usr/share/apm-server/apm-server.yml:ro
Secret=elastic,type=env,target=ELASTICSEARCH_PASSWORD
HealthCmd=CMD-SHELL bash -c 'exec 3<>/dev/tcp/127.0.0.1/8200'
