# lme-logstash.container
[Unit]
Description=Elastic Logstash Container Service
Requires=lme-elasticsearch.service lme-setup-certs.service
After=lme-elasticsearch.service lme-setup-certs.service
PartOf=lme.service
StartLimitIntervalSec=120
StartLimitBurst=10

[Install]
WantedBy=default.target lme.service

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=300
Environment=ANSIBLE_VAULT_PASSWORD_FILE=/etc/lme/pass.sh

[Container]
ContainerName=lme-logstash
Image=localhost/logstash:LME_LATEST
Network=lme
PodmanArgs=--network-alias lme-logstash
PublishPort=5044:5044
PublishPort=8085:8085
Environment=LS_JAVA_OPTS=-Xmx512m
Volume=lme_certs:/certs:ro
Volume=/opt/lme/config/logstash/logstash.yml:/usr/share/logstash/config/logstash.yml:ro
Volume=/opt/lme/config/logstash/pipeline:/usr/share/logstash/pipeline:ro
Secret=elastic,type=env,target=ELASTICSEARCH_PASSWORD
HealthCmd=curl -fs http://localhost:9600/ -o /dev/null
