# lme-metricbeat.container
[Unit]
Description=Elastic Metricbeat Container Service
Requires=lme-elasticsearch.service lme-setup-certs.service
After=lme-elasticsearch.service lme-setup-certs.service lme-kibana.service
PartOf=lme.service
StartLimitIntervalSec=120
StartLimitBurst=10

[Install]
WantedBy=default.target lme.service

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=300
Environment=ANSIBLE_VAULT_PASSWORD_FILE=/etc/lme/pass.sh

[Container]
ContainerName=lme-metricbeat
Image=localhost/metricbeat:LME_LATEST
Network=lme
PodmanArgs=--network-alias lme-metricbeat
Volume=lme_certs:/certs:ro
Volume=/opt/lme/config/metricbeat.yml:/usr/share/metricbeat/metricbeat.yml:ro
Volume=/proc:/hostfs/proc:ro
Volume=/sys/fs/cgroup:/hostfs/sys/fs/cgroup:ro
Volume=/:/hostfs:ro
Secret=elastic,type=env,target=ELASTICSEARCH_PASSWORD
User=root
